@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px)  {
    h2 {
        font-size: 32px!important;
    }
    .nav {
        margin: 7.5px -15px;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #f08d21;
        color: #fff;
    }
    .navbar-inverse .navbar-nav > li > a {
        background-color: #dc821e;
        color: #fff;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #f08d21;
        color: #fff;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #dc821e;
    }
    .navbar-brand {
        display: block;
        margin-top: -10px;
    }
    .brand-logo {
        width: auto;
        height: 40px;
    }
    .nav-custom {
        height: 40px;
    }
    .navbar-nav{
        margin-top: 0;
    }
    .h1-main {
        font-size: 36px;
    }
    .buttons-main .wbutton {
        margin-top: 20px;
    }
    .products .title-main h2 {
        font-size: 24px!important;
        top: -5px;
    }
    .products .title-main .circle-main {
        top: 20px;
    }
    .products .title-main2 h2 {
        font-size: 24px !important;
        top: 4px !important;
    }
    .products .title-main2 .circle-main {
        top: 28px !important;
    }
    .products .title-main3 h2 {
        font-size: 24px !important;
        top: 4px !important;
    }
    .products .title-main3 .circle-main {
        top: 30px !important;
    }	
    .banner-main .title-main4 h2 {
        font-size: 24px !important;
		top: 20px !important;
    }	
	.review_image {
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.review-slider ul li > div {
		background:none;
		height:425px;
	}
	.banner-main {
		min-height:600px;
		-webkit-clip-path: polygon(50% 0, 100% 0, 100% 75%, 52% 100%, 0 72%, 0 0);
		clip-path: polygon(50% 0, 100% 0, 100% 75%, 52% 100%, 0 72%, 0 0);		
	}
	.review-slider ul li > div .review_info {
		text-align:center;
		color:white;
	}
	.review-slider ul li > div > div {
		padding-top: 40px;
	}
	.review-slider ul li > div > p {
		color:white;
	}
	.cbp-fwslider ul li > div {
		max-width:100%;
	}
    .banner-text h1 {
        margin-top: 140px;
        margin-bottom: 140px;
        font-size: 32px;
    }
    .contact-form {
        margin: 0 auto;
        padding-top: 1px;
    }
    .contact-form h1 {
        font-size: 32px;
    }
    .gallery-img {
        margin-right: 15px!important;
    }
    .icon_panel img {
        width: 100px;
    }
    .icon_panel h3 {
        font-size: 14px;
    }
    .file-preview-image {
        height: 185px!important;
    }
    .item-action .date, .item-action button {
        font-size: 12px!important;
    }
    .order_form {
        margin-top: 50px;
        margin-left: -15px;
        width: 332px;
    }
    .footer {
        padding-top: 20px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .icon_panel img {
        width: 150px;
    }
    .icon_panel h3 {
        font-size: 20px;
    }
    .navbar-nav > li > a {
        font-size: 11px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .icon_panel img {
        width: 150px;
    }
    .icon_panel h3 {
        font-size: 20px;
    }
    .navbar-nav > li > a {
        font-size: 12px;
    }
}

@media (min-width: 630px) and (max-width: 1199px) {
    .page .page-desc {
        margin: 0 auto;
        width: 585px;
    }
}

@media (min-width: 436px) and (max-width: 629px) {
    .page .page-desc {
        margin: 0 auto;
        width: 390px;
    }
}

@media (max-width: 435px) {
    .page .page-desc {
        margin: 0 auto;
        width: 180px;
    }
}

@media (min-width: 436px) and (max-width: 767px) {
    .small-xs {
        max-width: 585px;
        margin: 0 auto;
        margin-top: -75px;
        margin-bottom: 90px;
        text-align: left;
    }
}

@media (max-width: 629px) {
    .small-xs {
        max-width: 395px;
        margin: 0 auto;
        margin-top: -75px;
        margin-bottom: 90px;
        text-align: left;
    }
    .page .page-desc .square {
        margin-bottom: 20px;
    }
    .page .page-desc .square:nth-child(3) {
        margin-bottom: 0;
    }
}

@media (max-width: 1198px) {
    .page .actions, .page .articles {
        max-width: 760px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .page .actions .item-action:nth-child(even), .page .articles .item-article:nth-child(even) {
        margin-right: 0!important;
    }
    .page .actions .item-action:nth-child(odd), .page .articles .item-article:nth-child(odd) {
        margin-right: 20px!important;
    }
    .cbp-fwslider nav span {
		top: 43%;
	}	
	.banner-contact {
		min-height: 828px;
	}			
}

@media (max-width: 999px) {
    .page .actions, .page .articles {
        max-width: 368px;
    }
	.banner-contact {
		min-height: 807px;
	}		
	.banner-contact > div > img {
		margin-top: -80px;
	}
}

@media (max-width: 991px) {
	.banner-contact {
		min-height: 840px;
	}			
    .page .page-offer .item {
        max-width: 368px!important;
    }
    .cbp-fwslider nav span {
		top: 47%;
	}		
    .production-item {
		text-align:center;
	}	
}

@media (max-width: 768px) {
    .products .gbutton {
		margin-top:50px;
	}
	.products .title-main2 {
		margin-bottom:150px;
	}
	.advantages .text-right, .advantages .text-left{
		text-align:center;
		margin-bottom:40px;
	}	
	.banner-contact {
		margin-bottom:-5px;
		min-height: 720px;
	}
	.banner-contact .container h3 {
		font-size: 25px;
		margin-top: -40px;
	}	
	.contact-form div {
		width:auto;
		text-align:center;
	}
/*     .products .title-main3 h2 {
        font-size: 24px!important;
        top: 15px!important;
    }	
	.products .title-main3 img {
		position: absolute;
		left: 0;
		top: 12px;
	}	 */
}